@model SSMS.Models.Class

@{
    ViewData["Title"] = "Class Details";
}

<main>
    <h1>Class Details</h1>

    <section>
        <dl>
            <dt>@Html.DisplayNameFor(model => model.ClassNameArabic)</dt>
            <dd>@Html.DisplayFor(model => model.ClassNameArabic)</dd>

            <dt>@Html.DisplayNameFor(model => model.ClassNameEnglish)</dt>
            <dd>@Html.DisplayFor(model => model.ClassNameEnglish)</dd>
        </dl>
    </section>

    <nav>
        <a asp-action="Edit" asp-route-id="@Model?.ClassId">Edit</a>
        <a asp-action="Index">Back to List</a>
    </nav>
</main>
