@model SSMS.Models.Class

@{
    ViewData["Title"] = "Edit Class";
}

<main>
    <h1>Edit Class</h1>

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="ClassId" />

        <div>
            <label asp-for="ClassNameArabic"></label>
            <input asp-for="ClassNameArabic" />
            <span asp-validation-for="ClassNameArabic"></span>
        </div>

        <div>
            <label asp-for="ClassNameEnglish"></label>
            <input asp-for="ClassNameEnglish" />
            <span asp-validation-for="ClassNameEnglish"></span>
        </div>

        <div>
            <input type="submit" value="Save" />
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</main>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
