@model SSMS.Models.User

@{
    ViewData["Title"] = "Create User";
}

<h1>Create User</h1>
<hr />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <label asp-for="UserId"></label>
        <input asp-for="UserId" />
        <span asp-validation-for="UserId"></span>
    </div>

    <div>
        <label asp-for="FullName"></label>
        <input asp-for="FullName" />
        <span asp-validation-for="FullName"></span>
    </div>

    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <label asp-for="UserType"></label>
        <input asp-for="UserType" />
        <span asp-validation-for="UserType"></span>
    </div>

    <div>
        <input type="submit" value="Create" />
        <a asp-action="Index">Back to List</a>
    </div>
</form>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
