@model SSMS.Models.Material

@{
    ViewData["Title"] = "Create Material";
}

<main>
    <h1>Create New Material</h1>
    <h2>Material Details</h2>
    <hr />

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly"></div>

        <div>
            <label asp-for="MaterialId"></label>
            <input asp-for="MaterialId" />
            <span asp-validation-for="MaterialId"></span>
        </div>

        <div>
            <label asp-for="MaterialNameArabic"></label>
            <input asp-for="MaterialNameArabic" />
            <span asp-validation-for="MaterialNameArabic"></span>
        </div>

        <div>
            <label asp-for="MaterialNameEnglish"></label>
            <input asp-for="MaterialNameEnglish" />
            <span asp-validation-for="MaterialNameEnglish"></span>
        </div>

        <div>
            <input type="submit" value="Create" />
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</main>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
