@model SSMS.Models.Material

@{
    ViewData["Title"] = "Delete Material";
}

<main>
    <h1>Delete Material</h1>
    <p>Are you sure you want to delete this?</p>

    <section>
        <h2>Material Details</h2>
        <hr />

        <dl>
            <dt>@Html.DisplayNameFor(model => model.MaterialNameArabic)</dt>
            <dd>@Html.DisplayFor(model => model.MaterialNameArabic)</dd>

            <dt>@Html.DisplayNameFor(model => model.MaterialNameEnglish)</dt>
            <dd>@Html.DisplayFor(model => model.MaterialNameEnglish)</dd>
        </dl>
    </section>

    <form asp-action="Delete">
        <input type="hidden" asp-for="MaterialId" />
        <input type="submit" value="Delete" />
        <a asp-action="Index">Back to List</a>
    </form>
</main>
