@model SSMS.Models.Material

@{
    ViewData["Title"] = "Delete Material";
}

<link href="~/css/classes/delete.css" rel="stylesheet" />
<div class="material-delete-container">
    <h1 class="material-delete-title">Delete Material</h1>
    <h3 class="material-delete-confirm">Are you sure you want to delete this?</h3>

    <div class="material-details">
        <h4>Material Details</h4>
        <hr />

        <dl class="detail-row">
            <dt class="detail-label">
                @Html.DisplayNameFor(model => model.MaterialNameArabic)
            </dt>
            <dd class="detail-value arabic-value">
                @Html.DisplayFor(model => model.MaterialNameArabic)
            </dd>
        </dl>

        <dl class="detail-row">
            <dt class="detail-label">
                @Html.DisplayNameFor(model => model.MaterialNameEnglish)
            </dt>
            <dd class="detail-value">
                @Html.DisplayFor(model => model.MaterialNameEnglish)
            </dd>
        </dl>
    </div>

    <form asp-action="Delete" class="delete-form">
        <input type="hidden" asp-for="MaterialId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="back-link">Back to List</a>
    </form>
</div>