@model SSMS.Models.Material

@{
    ViewData["Title"] = "Material Details";
}

<main>
    <h1>Material Details</h1>

    <section>
        <h2>Material Information</h2>
        <hr />

        <dl>
            <dt>@Html.DisplayNameFor(model => model.MaterialNameArabic)</dt>
            <dd>@Html.DisplayFor(model => model.MaterialNameArabic)</dd>

            <dt>@Html.DisplayNameFor(model => model.MaterialNameEnglish)</dt>
            <dd>@Html.DisplayFor(model => model.MaterialNameEnglish)</dd>
        </dl>
    </section>

    <nav>
        <a asp-action="Edit" asp-route-id="@Model?.MaterialId">Edit</a>
        <a asp-action="Index">Back to List</a>
    </nav>
</main>
