@model SSMS.Models.Mark

@{
    ViewData["Title"] = "Create";
}

<main>
    <h1>Create Mark</h1>
    <h2>Mark Details</h2>
    <hr />

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly"></div>

        <div>
            <label asp-for="StudentId"></label>
            <select asp-for="StudentId" asp-items="ViewBag.StudentId"></select>
            <span asp-validation-for="StudentId"></span>
        </div>

        <div>
            <label asp-for="ClassId"></label>
            <select asp-for="ClassId" asp-items="ViewBag.ClassId"></select>
            <span asp-validation-for="ClassId"></span>
        </div>

        <div>
            <label asp-for="MaterialId"></label>
            <select asp-for="MaterialId" asp-items="ViewBag.MaterialId"></select>
            <span asp-validation-for="MaterialId"></span>
        </div>

        <div>
            <label asp-for="Mark1"></label>
            <input asp-for="Mark1" />
            <span asp-validation-for="Mark1"></span>
        </div>

        <div>
            <input type="submit" value="Create" />
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</main>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
