@model SSMS.Models.Mark

@{
    ViewData["Title"] = "Edit";
}

<main>
    <h1>Edit</h1>
    <h2>Mark</h2>
    <hr />

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly"></div>

        <input type="hidden" asp-for="StudentId" />
        <input type="hidden" asp-for="ClassId" />
        <input type="hidden" asp-for="MaterialId" />

        <div>
            <label asp-for="Mark1"></label>
            <input asp-for="Mark1" />
            <span asp-validation-for="Mark1"></span>
        </div>

        <div>
            <input type="submit" value="Save" />
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</main>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
