@model IEnumerable<SSMS.Models.Mark>

@{
    ViewData["Title"] = "My Marks";
}

<main>
    <h2>My Marks</h2>

    <table>
        <thead>
            <tr>
                <th>Class</th>
                <th>Material</th>
                <th>Mark</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Class.ClassNameArabic</td>
                    <td>@item.Material.MaterialNameArabic</td>
                    <td>@item.Mark1</td>
                </tr>
            }
        </tbody>
    </table>
</main>
