@{
    ViewData["Title"] = "Access Denied";
}

<link rel="stylesheet" href="~/css/Account/AccessDenied.css" />

<div class="access-denied-container">
    <div class="access-denied-icon">
        <i class="fas fa-ban"></i> <!-- Font Awesome icon, make sure you have Font Awesome included -->
    </div>
    <h2 class="access-denied-title">Access Denied</h2>
    <p class="access-denied-message">You do not have permission to access this page.</p>
    <a href="/" class="access-denied-link">Return to Homepage</a>
</div>