@{
    ViewData["Title"] = "Login";
}

<main>
    <section>
        <h1>Login</h1>

        <form method="post">
            <div>
                <label for="username">Username</label>
                <input name="username" id="username" required />
            </div>

            <div>
                <label for="password">Password</label>
                <input name="password" id="password" type="password" required />
            </div>

            @if (ViewBag.Error != null)
            {
                <p>@ViewBag.Error</p>
            }

            <button type="submit">Login</button>
        </form>
    </section>
</main>
