@model SSMS.Models.Student

@{
    ViewData["Title"] = "Create Student";
}

<main>
    <h1>Create New Student</h1>
    <h2>Student Details</h2>
    <hr />

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly"></div>

        <div>
            <label asp-for="StudentId"></label>
            <input asp-for="StudentId" />
            <span asp-validation-for="StudentId"></span>
        </div>

        <div>
            <label asp-for="ClassId"></label>
            <select asp-for="ClassId" asp-items="ViewBag.ClassId"></select>
            <span asp-validation-for="ClassId"></span>
        </div>

        <div>
            <label asp-for="UserId"></label>
            <select asp-for="UserId" asp-items="ViewBag.UserId"></select>
            <span asp-validation-for="UserId"></span>
        </div>

        <div>
            <label asp-for="Gender"></label>
            <input asp-for="Gender" />
            <span asp-validation-for="Gender"></span>
        </div>

        <div>
            <label asp-for="FullNameArabic"></label>
            <input asp-for="FullNameArabic" />
            <span asp-validation-for="FullNameArabic"></span>
        </div>

        <div>
            <label asp-for="FullNameEnglish"></label>
            <input asp-for="FullNameEnglish" />
            <span asp-validation-for="FullNameEnglish"></span>
        </div>

        <div>
            <label asp-for="Age"></label>
            <input asp-for="Age" />
            <span asp-validation-for="Age"></span>
        </div>

        <div>
            <input type="submit" value="Create" />
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</main>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
